html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.navbar {
    padding: 1% 0;
    font-size: 1px;
}
.nav-link {
    font-size: 20px;
    color: white;
}

.navbar-default .navbar-nav li a {
    color: white;
    display: block;
    text-decoration: none;
}
.screen {
    background: url('../images/images-1.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
}
.screen-flashcards{
	background: url('../images/skyblue.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
}
.icon-bar {
    color:#FFF;
    margin: 1px 1px 1px 1px;
}

footer {
    background: grey;
    color: white;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid white;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a {
    color: white;
}
hr.light-100 {
    border-top: 1px solid white;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
